.radio-language {
    display: flex;
    align-items: center;
    gap: 8px;
}

.radio-language__label {
    color: var(--on-text-surface-color);
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 30px */
}

.radio-language__input,
.radio-language__label {
    cursor: pointer;
}